h1 {
  margin-left: auto;
  font-size: 5vw;
  line-height: 1.5;
  font-family: 'Zilla Slab Highlight', cursive;
  color: rgba(11, 16, 51, 0.79)
}
.nav{
  font-size: 1vw;
  line-height: 1.5;
  font-family: 'Zilla Slab Highlight', cursive;
}